* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: #f7f7f5;
  color: #111;
}

.login-input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.login-submit-btn:hover {
    transform: scale(1.03);
}