* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: #f7f7f5;
  color: #111;
}

.login-input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.login-submit-btn:hover {
    transform: scale(1.03);
}
.calendar-day-btn:active,
.calendar-day-btn:focus,
.calendar-day-btn:focus-visible {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
}